<!DOCTYPE html>
{% extends 'sharinggoods/base.html' %}
{% block content %}
{% load static %}
<section class="banner">
    <div class="pg-description">
        <h1 class="pg-title">게시물 수정하기</h1>
    </div>
</section>
<main>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        <p class="cont">제품 이름: {{ form.goods_name }}</p>
        <p class="cont">작성자: {{ form.uploader_name }}</p>
        <p class="cont">대여 가격: {{ form.price }}</p>
        <p class="cont">제품 설명: {{ form.description }}</p>
        <p class="cont">제품 사진: {{ form.image }} </p>
        <button type="submit" class="btn btn-secondary detail_btn">수정 완료</button>
    </form>
</main>
{% endblock %}