<!DOCTYPE html>
{% load static %}
<html lang="kor">
<head>
    <meta charset="ut-8">
    <link rel="stylesheet" type="text/css" href="{% static 'sharinggoods/css/style.css' %}" />
    <title>게시물 작성</title>
</head>
<body>
    <header>
        <h1 class="pg-title">게시물 수정하기</h1>
        <div class="navi"><a href="{% url 'home' %}">홈페이지로 돌아가기</a></div>     
    </header>
    <main>
        <form method="POST" class="post-form">{% csrf_token %}
            <p class="cont">제품 이름: {{ form.goods_name }}</p>
            <p class="cont">작성자: {{ form.uploader_name }}</p>
            <p class="cont">대여 가격: {{ form.price }}</p>
            <p class="cont">제품 설명: {{ form.description }}</p>
            <button type="submit" class="save btn btn-default">수정 완료</button>
        </form>
    </main> 
</body>
</html>        