@font-face{
    font-family: 'NanumSquare';
    src: url(../font/NanumSquareR.woff) format('woff');
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.navbar-dark .navbar-toggler{
    border: none;
}

.button:focus{
    outline: none;
}

body{
   font-family: 'NanumSquare';
   color: rgb(26, 25, 25);
   background-color: rgb(250, 250, 225);
}

.banner{
    height: 10rem;
    background-color: rgb(150, 8, 8);
}

.pg-description{
    color: rgb(252, 227, 227);
    font-size: 1.2em;
    padding: 40px;
}

.pg-title{
    color: rgb(252, 227, 227);
    font-size: 3rem;
}

.posting-header{
    padding: 6rem 0 1rem;
    text-align: center;
}

.posting-h{
    font-size: 2em;
    font-weight: bold;
}

.posting-d{
    color: darkslateblue;
}

.containter{
    margin: 0 2rem;
}

.post-form, .post-detail{
    width: 800px;
    margin: 50px 50px;
    padding: 30px;
    background-color: rgb(252, 252, 239);
}

.cont{
    margin: 1rem 0;
    font-size: 1.2rem;
}

button{
    font-size: 0.8rem !important;
}

.post-detail{ 
    text-align: left;
}

.detail-nav{
    height: 100%;
}

._comments-list_{
    margin: 0.5rem;
}

._new-comment_{
    margin: 0.5rem;
}

.comments-list{
    border-top: 1px dotted darkred;
    padding: 1rem;
    margin: 0 20px;
}

.new-comment{
    padding: 1rem;
    margin: 0 20px;
}

.detail_btn{
    margin-right: 1rem;
}

.login, .register {
    margin: 3rem;
}

#home-img1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/campus1.jpg);
}

#home-img2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/campus2.jpg);
}

#home-img3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/campus3.jpg);
}

.home-img-display{
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-caption-display{
    top: 25%;
    color:  rgb(252, 252, 239);
}

.home-caption-display h1{
    font-size: 4.5em;
}

.home-caption-display p{
    font-size: 1.8em;
}

.form-control{
    width: 30%;
}