<!DOCTYPE html>
{% load static %}
<html lang="kor">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'sharinggoods/css/style.css' %}" />
    <title>홈페이지</title>
</head>
<body>
    <header class="home_header">
        <h1 id="name">Share Your Goods at Sogang</h1>
        자신의 물품을 다른 사람에게 대여해주거나, 다른 사람의 물품을 대여할 수 있는 공간입니다.
    </header>
    <nav>
        <a href="{% url 'new' %}">새 제품 등록</a>
    </nav>
    <main>
        {% for post in posts_list %}
        <section class="container"> 
            <p class="goods_n">{{ post.goods_name }}</p>
            <p>작성일자: {{ post.pub_date }}</p>
            <p>작성자: {{ post.uploader_name }}</p>
            <p>가격: {{ post.price }}원</p>
            {% if post.state == True %}
            <p>상태: 대여 가능</p>
            {% else %}
            <p>상태: 대여중</p>
            {% endif %}
            <p>제품 설명: {{ post.description }}</p>
        </section>
        {% endfor %}
    </main>
</body>
</html>

