<!DOCTYPE html>
{% extends 'sharinggoods/base.html' %}
{% block content %}
{% load static %}
<section class="banner">
    <div class="pg-description">
        <p class="pg-title">Log In</p>
    </div>
</section>
<main class="login main">
    <form method="POST">
        {% csrf_token %}
        <p>
            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" 
            class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </p>
        <p>
            <input type="password" name="password" autocomplete="current-password" required="" id="id_password" 
            class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </p>
        <button class="btn btn-secondary detail_btn" type="submit">Login</button>
    </form>
</main>
<footer class="login footer">
    <p>새로 계정을 만드시겠습니까?</p>
    <a class="btn btn-secondary detail_btn" href="{% url 'register' %}">회원가입</a>
    {% endblock %}
</footer>